<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Team</h1>

    <div template ="employee">
       <p>Role: <span key = "role"></span></p>
       <p>Name: <span key = "name"></span></p>
       <p>ID: <span key = "id"></span></p>
       <p>email: <span key = "email"></span></p>
       <p> <span key ="spec-name"></span>: <span key = "spec"> </span></p>
    </div>

    
</body>
</html>